.layout {
    width: 100%;
}

.layout header {
    height: 75px;
    background-color: #90EE90;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.layout section {
    display: flex;
}

.layout aside {
    width: 20%;
    min-height: 80vh;
    background-color: #C4A484;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout aside ul {
    list-style: none;
}

.layout aside ul li a {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.layout main {
    width: 80%;
    background-color: #F0EAD6;
}

.layout footer {
    min-height: 100px;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
}

.layout footer a p {
    font-size: medium;
}